
ul{
    list-style: none;
}
html,
body {
    font-family: 'Nanum Gothc', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.header {
    height: 5%;
    width: 100%;
    background: #113a6b;
    color: white;
    text-align: center;
    overflow: hidden;
}
.nav{

    display: flex;
    flex-direction: column;
    width: 10%;
    height: 90%;
    float: left;
    
}
.aside {
    width: 20%;
    height: 90%;
    float: right;
    text-align: center;
}
.sectionMap {
    position: relative;
    width: 70%;
    height: 90%;
    float: left;
    background: rgb(107, 127, 212);
}
.footer {
    width: 100%;
    height: 5%;
    clear: both;
    background: #113a6b;
    text-align: center;
    display: inline-block;
    color: white;
}
.theater_data::-webkit-scrollbar {
    width: 15px;
  }
.theater_data::-webkit-scrollbar-thumb {
    background-color: #002fff;
    border-radius: 15px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.theater_data::-webkit-scrollbar-track {
    background-color: rgba(228, 234, 255, 0);
    border-radius: 15px;
    box-shadow: inset 0px 0px 5px rgba(114, 75, 255, 0);
  }

.detailInfoPannel{
    position: absolute;
    height : 100%;
    width: 25%;
    right: 0px;
    z-index: 1;
    background:rgba(0, 0, 0, 0.5);
    color: white;
    overflow-y: scroll;
    transition: .3s ease-in-out;
    text-align: center;
}