.center{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.center>input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 20px;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .3s;
}
.center>input:checked[type="checkbox"]{
    background: #113a6b;

}
.center>input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transform: scale(1.1);
    transition: .3s;
}
.center>input:checked[type="checkbox"]::before{
    left: 40px;
}