.loading{

    display: flex;
    width:100%;
    height:100%;
    position:fixed;

    background:rgba(0, 0, 0, 0.5);

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* 수직 정렬 */

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; /* 수평 정렬 */

    z-index:3; /* 이 값으로 레이어의 위치를 조정합니다. */
}
