
* {
  box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.header {
    width: 100%;
    height: 5%;
    background: rgb(162, 162, 240);
}
.nav{
    width: 10%;
    height: 90%;
    float: left;
    background: rgb(140, 255, 236);
}
.aside {
    width: 20%;
    height: 90%;
    float: right;
    text-align: center;
    background: rgb(108, 160, 255);
}
.sectionMap {
    width: 70%;
    height: 50%;
    float: left;
    background: rgb(107, 127, 212);
}
.sectionInfo {
    color: white;
    width: 70%;
    height: 40%;
    float: left;
    background: rgb(35, 103, 142);
}
.footer {
    width: 100%;
    height: 5%;
    clear: both;
    background: rgb(252, 205, 252);
}


.theater_data::-webkit-scrollbar {
    width: 15px;
  }
.theater_data::-webkit-scrollbar-thumb {
    background-color: #002fff;
    border-radius: 15px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.theater_data::-webkit-scrollbar-track {
    background-color: rgba(228, 234, 255, 0);
    border-radius: 15px;
    box-shadow: inset 0px 0px 5px rgba(114, 75, 255, 0);
  }
/*라디오버튼 디자인*/
